.bodyStyle {
    min-height: 100vh;
    max-height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--white);
}

.mainStyle {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / -2;
}